# Folders
Lib/
Scripts/
share/

# Files
pyvenv.cfg
.idea/
*.iml
*.pyc
*.pyo
__pycache__/
.env


# Virtual environment
venv/

# Media uploads (не путать с Flask static/)
/media/


# Database
*.sqlite3
*.db


# Migrations
migrations/