{% extends "base.html" %}

{% block title %}Обо мне{% endblock %}

{% block content %}
    <h1 class="mb-4">Обо мне</h1>
    <div class="text-body-secondary col-12 col-lg-8">
      <p class="mb-3">
        Привет! 👋
      </p>
      <p class="mb-3">
        Я Backend-разработчик с опытом работы с Python, FastAPI, Django, разработкой REST API,
        интеграциями с внешними API, фоновыми задачами, тестированием и CI/CD.
      </p>
      <p class="mb-3">
        Начинала как системный администратор, занималась поддержкой инфраструктуры и
        веб-сервисов. Постепенно автоматизировала рутинные процессы с помощью Python
        и перешла в backend-разработку.
      </p>
      <p class="mb-4">
        Сейчас сфокусирована на создании, тестировании и развитии веб-приложений.
      </p>

      <p class="mb-2">
        Github:
        <a href="https://github.com/levinadev" class="link-light link-underline-opacity-50" target="_blank" rel="noopener noreferrer">https://github.com/levinadev</a>
      </p>
      <p class="mb-2">
        Email:
        <a href="mailto:anna-levina@hotmail.com" class="link-light link-underline-opacity-50">anna-levina@hotmail.com</a>
      </p>
      <p class="mb-4">
        Telegram:
        <a href="https://t.me/levinadev" class="link-light link-underline-opacity-50" target="_blank" rel="noopener noreferrer">@levinadev</a>
      </p>

      <a
        href="{{ url_for('static', filename='resume/Anna_Levina_CV_RU.pdf') }}"
        class="btn btn-outline-light btn-sm rounded-2"
        download="Anna_Levina_CV_RU.pdf"
      >Скачать резюме</a>
    </div>
{% endblock %}
